{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الشخصية</title>
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
</head>
<body>
    
    <div class="up">
        <h1>{{c_user.full_name}}</h1>
        <a href="{% url 'logout' %}"> تسجيل الخروح ؟</a>
    </div>

    <div class="down">
        <form class="form" method="POST">
            {% csrf_token %}
            <button type="submit">انشاء</button>
            <input type="text" placeholder="اسم ال image" name="image">
        </form>


        {% for service in services %}
            <div class="image">
                <div>
                    <small>اسم ال image</small>
                    <p>{{service.image}}</p>
                </div>

                {% if service.is_online %}
                    <div>
                        <small>الحالة</small>
                        <p class="state online">اونلاين</p>
                    </div>
                    <div>
                        <small>الرابط</small>
                        <a href="http://localhost:{{service.port}}" target="_blank">http://localhost:{{service.port}}</a>
                    </div>
                {% else %}
                    <div>
                        <small>الحالة</small>
                        <p class="state">جاري الانشاء</p>
                    </div>
                    <div>
                        <small>الرابط</small>
                        <p>--</p>
                    </div>
                {% endif %}
                
            </div>
        {% endfor %}
    


        

    </div>

    
</body>
</html>